@page "/"
@using Microsoft.AspNetCore.SignalR
@using Microsoft.AspNetCore.SignalR.Client
@using Shared
@inject HubConnection HubConnection
@rendermode InteractiveServer

<PageTitle>Packages</PageTitle>

<h1>Packages</h1>

@foreach (var packageManager in _packagesByManager.Keys)
{
    <h2>@packageManager</h2>
    <ul>
        @foreach (var package in _packagesByManager[packageManager])
        {
            <li>@package.Name - @package.Version</li>
        }
    </ul>
}

@code {
    private readonly Dictionary<string, List<Package>> _packagesByManager = new();

    protected override Task OnInitializedAsync()
    {
        HubConnection.Remove("Packages");
        HubConnection.On<Package[]>("Packages", async packages =>
        {
            _packagesByManager.Clear();
            foreach (var package in packages)
            {
                if (!_packagesByManager.ContainsKey(package.PackageManager))
                {
                    _packagesByManager[package.PackageManager] = [];
                }

                _packagesByManager[package.PackageManager].Add(package);
            }

            await InvokeAsync(StateHasChanged);
        });
        return Task.CompletedTask;
    }

}